header {
  padding-top: 10px;

  .logo {
    width: 20%;
    a:hover {
      color: $primary;
    }

    &-title {
      font-family: monospace;
      font-weight: bold;
      font-style: italic;
      font-size: 26px;
      margin-top: 5px;
      margin-right: 5px;
    }

    &-img {
      width: 48px;
      height: 48px;
    }
  }

  .nav-bar {
    font-size: 18px;

    a {
      padding: 8px 10px;
    }

    & > :not(a:last-child) {
      margin-right: 6px;
    }
  }

  .placeholder {
    width: 20%;
  }

  .page-title {
    margin-top: 25px;

    &::after {
      @include customBr(0px, 100%, 1px, black, 25%);
    }

    .actions {
      button {
        text-transform: uppercase;
      }

      & > :not(button:last-child) {
        margin-right: 8px;
      }
    }
  }
}
