.input-error {
  width: 90%;
  padding: 14px 0px;
  padding-left: 10%;
  font-size: 12px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  color: #b91c1c;
  background-color: #fee2e2;
}
