html {
  body {
    font-family: $font;
    font-size: 16px;
    color: $color;
    background-color: #eee;

    a {
      color: $primary;
      text-decoration: none;

      &:hover {
        color: $secondary;
      }
    }

    button {
      color: white;
      background-color: $primary;
      padding: 6px 10px 5px 10px;
      @include border;
      border-radius: 3px;
    }

    input {
      padding: 7px 10px;
      @include border;
      outline: none;
      border-radius: 3px;
      &[type='checkbox'] {
        accent-color: $primary;
      }
    }

    select {
      width: 100px;
      padding: 10px;
      @include border;
      outline: none;
      border-radius: 3px;
      color: #181820;
      appearance: none;
      background: url('https://cdn1.iconfinder.com/data/icons/arrows-vol-1-4/24/dropdown_arrow-512.png');
      background-repeat: no-repeat;
      background-size: 15px 15px;
      background-position: right;
      background-origin: content-box;
      background-color: #fff;
    }

    h1,
    h2 {
      font-size: 31px;
    }

    h3,
    h4 {
      font-size: 26;
    }

    h1,
    h3 {
      font-weight: 700;
    }

    h2,
    h4 {
      font-weight: 400;
    }

    @media only screen and (max-width: 400px) {
      body {
        font-size: 16px;
      }

      h1,
      h2 {
        font-size: 21px;
      }

      h3,
      h4 {
        font-size: 18px;
      }
    }
  }
}
