RewriteEngine On

# Must reflect to index.php in public folder
DirectoryIndex index.php index.html

# Redirects any request to index.php except assets
ReWriteCond %{REQUEST_URI} !^.\*((.)(.js|.css|.png|.json|.ico|.txt|.gif|.jpg))$

# Must reflect to index.php in public folder
RewriteRule ^ index.php
